@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";

html {
  scroll-behavior: smooth;
}

.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}
