<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="/stylesheets/mystyles.css" />

    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>

  <body class="body">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <a href="/">
            <figure class="image image is-600x100" style="margin-bottom: 1rem;">
              <img
                src="/images/hss_logo.svg"
                style="width: 600px; max-width: 100%;"
              />
            </figure>
          </a>
          <h1 class="title"><%= title %></h1>
          <h2 class="subtitle">Let's populate some titles 📕📗📘📙</h2>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="container">
        <form action="/results" method="post">
          <div class="field">
            <div class="control">
              <textarea
                id="textarea1"
                class="textarea"
                name="titles"
                placeholder="Enter your titles or ISBNs"
                aria-label="Enter your titles or ISBNs"
                required
              ></textarea>
            </div>
          </div>

          <button
            class="button is-dark is-outlined is-rounded"
            id="submit-search"
            type="submit"
            onclick="showLoading(this)"
          >
            <span>Submit</span>
            <span class="icon is-small">
              <i class="far fa-paper-plane"></i>
            </span>
          </button>
        </form>
      </div>
    </section>

    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>History of Science Society</strong> Book Search</p>
      </div>
    </footer>

    <script>
      function showLoading(e) {
        e.classList.add("is-loading");
      }
    </script>
  </body>
</html>
