*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

@media (min-width: 320px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 640px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1280px) {
  html {
    font-size: 19px;
  }
}

@media (min-width: 2560px) {
  html {
    font-size: 20px;
  }
}

#loader {
  display: none;
}

.logo {
  width: 500px;
}

.title-number {
  padding: 10px 15px;
  border-radius: 50%;
  color: #fff;
  font-weight: 900;
  font-size: 75%;
}
.header {
  padding: 1rem;
  text-align: center;
}
/* label color */
textarea.textarea-materialize label {
  color: #000;
}
/* label focus color */
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #81c784;
}
/* label underline focus color */
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #81c784;
  box-shadow: 0 1px 0 0 #1b5e20;
}
/* valid color */
textarea.textarea-materialize.valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
textarea.textarea-materialize.invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.textarea-materialize .prefix.active {
  color: #000;
}

/* Isis BRL */
/* Isis BRL - Front Page Styles*/
.ama-fp-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.ama-fp-item {
  width: 165.5px;
  height: 250px;
  margin: 0.5em;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -ms-flex-line-pack: center;
  align-content: center;
}

@media screen and (max-width: 458px) {
  .ama-fp-item {
    width: 50%;
    min-width: 120px;
    flex-grow: 1;
    height: auto;
    -ms-flex-item-align: stretch;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    margin: 0;
  }
}
.ama-fp-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  text-decoration: none;
  border: none;
}

.ama-fp-image {
  width: 100%;
  height: 100%;
}

/*Amazon Body Styles - Includes Author, Title, and other information */
.ama-body-container {
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.ama-body-item {
  width: 250px;

  -webkit-box-flex: 0;

  -ms-flex: 0 1 auto;

  flex: 0 1 auto;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ama-body-item:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.ama-body-link,
.ama-body-link-2 {
  text-decoration: none;
  border: none;
  color: black;
}

.ama-body-link-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: left;
  font-family: sans-serif;
  padding: 0.5em 1.4em 2em;
}

.ama-body-link-2 h2 {
  margin: 0.25em 0.5em;
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.ama-body-image {
  display: block;
  height: 100%;
  width: 100%;
}

.ama-title {
  margin: 0.75em 0.5em 0.25em;
  font-style: italic;
}

.ama-pub {
  margin: 0.25em 0.5em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 75%;
  text-align: right;
}
